@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$light: #ffffff;
$dark: #000;
$accent: #8527ff;
$danger: #ff3434;
$success: rgb(30, 238, 30);
$warning: #f19328;

$ff-primary: "Public Sans", sans-serif;

$br-pill: 1rem;
$br-sm: 8px;
$br-md: 16px;
$br-lg: 24px;
